 /* FONT IMPORT LINKS*/
 
 @import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Lato:wght@300&family=Niconne&family=Poppins:wght@300;400;500;600&family=Satisfy&family=Share+Tech+Mono&family=Ubuntu:wght@300&family=Yanone+Kaffeesatz:wght@300&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Lato:wght@300&family=Lora:wght@400;500;600&family=Niconne&family=Poppins:wght@300;400;500;600&family=Satisfy&family=Share+Tech+Mono&family=Ubuntu:wght@300&family=Yanone+Kaffeesatz:wght@300&display=swap');
 /* UNIVERSAL */
 
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     list-style: none;
     text-decoration: none;
     font-family: "poppins", sans-serif;
 }
 
 :root {
     --header-height: 3.5rem;
     --main-color: #033a80;
     --bg-color: #fff;
     --title-color: hsl(207, 4%, 16%);
     --text-color: #000;
     --text-color-light: hsl(207, 4%, 56%);
     --hover: hsl(260, 100%, 51%);
     --big-font: 3.2rem;
     --medium-font: 1.8rem;
     --large-font: 2.9rem;
     --h1-font-size: 1.5rem;
     --h2-font-size: 1.25rem;
     --h3-font-size: 1rem;
     --p-font: 0.941rem;
     --header-height: 3.5rem;
     --smaller-font-size: .75rem;
     --card-color: #eaf4f4;
     --hue: 207;
     --sat: 90%;
     --lig: 61%;
     --first-color: hsl(var(--hue), var(--sat), var(--lig));
     --title-font: 'Lora', serif;
     --z-tooltip: 10;
     --active-color: #29fd53;
     --calendar-background-color: hsl(207, 4%, 56%);
     --primary-clr: #b38add;
 }
 
 html {
     scroll-behavior: smooth;
 }
 
 body {
     background: var(--bg-color);
     color: var(--text-color);
     transition: background .4s;
 }
 
 ul {
     list-style: none;
 }
 
 a {
     text-decoration: none;
 }
 
 img {
     max-width: 100%;
     height: auto;
 }
 /* HEADER AND NAVS */